* {
    margin: 0px;
    padding: 0px;
}

#detailcontent {
    width: 100vw;
    height: auto;


}

#detailformbox {

    width: 90vw;
    height: 70vh;
    margin: 10% auto 2% auto;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/* slider box css */
#detailboxslider {
    width: 60%;
    height: 100%;
    /* border: 10px solid rgb(160, 21, 21); */
    border-right: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
   

}

#containerslider {
    width: 70%;
    height: 90%;
    overflow: hidden;
    border: 2px solid;
    position: relative;
   
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.slider img {
    width: 100%;
    height: 100%;
}
#next{
    position: absolute;
    right: 4%;
    z-index: 999;
}
#previous{
    position: absolute;
    left: 4%;
    z-index: 999;
}

.arrow {
    font-size: 3rem;
    color: rgb(161, 161, 161);
    margin: 5%;
    cursor: pointer;
    

}

.arrow:hover {
    color: rgb(87, 85, 85);

}

/* form box css*/
#detailboxform {
    width: 40%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    /* border: 1px solid black; */

}
#detailboxformdiv2{
    width: 93%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid rgb(187, 21, 21); */
}

.formaitam {
    width: 80%;
    height: 10%;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;


}

.formaitam input {
    width: 50%;
    height: 65%;

}

#bookbtn{
    width: 80px;
    height: 30px;
    color: green;
    font-weight: bold;
    border: 1px solid green;
    overflow: hidden;
}
#bookbtn:hover{
    color: white;
    background-color: green;
    overflow: hidden;
}





#discriptionbox {
    width: 100vw;
    height: 61vh;
    margin-bottom: 8%;

    /* border: 1px solid black; */
}

#hoteldiscription {
    width: 90%;
    height: 100%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    /* border: 2px solid black; */

}

#dott {
    list-style: disc inside;
    padding-left: 1%;
}

.checked {
    color: orange;
    font-size: 1.5rem;
}

@media screen and (max-width: 1100px){
    #containerslider {
        width: 80%;
        height: 90%;
        overflow: hidden;
        border: 2px solid;
        position: relative;
       
    }
    #next{
        position: absolute;
        right: 0%;
        z-index: 999;
        font-size: 4rem;
    }
    #previous{
        position: absolute;
        left: 0%;
        z-index: 999;
        font-size: 4rem;
    }
   
    .formaitam{
     font-size: 1.3rem;

    }
    #bookbtn{
        font-size: 1rem;
    }
    #hoteldiscription h1{
        font-size: 2.3rem;
    }
    #hoteldiscription p{
        font-size: 1.2rem;
    }
    #hoteldiscription h2{
        font-size: 1.8rem;
    }
    #hoteldiscription h3{
        font-size: 1.6rem;
    }
    #hoteldiscription li{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 950px){
    #containerslider {
        width: 95%;
        height: 90%;
        overflow: hidden;
        border: 2px solid;
        position: relative;
       
    }
    #next{
        position: absolute;
        right: 0%;
        z-index: 999;
    }
    #previous{
        position: absolute;
        left: 0%;
        z-index: 999;
    }
    .formaitam input {
        width: 50%;
        height: 55%;


    }
    .formaitam{
        font-size: 1.4rem;
   
       }
       #bookbtn{
           font-size: 1rem;
       }
       #hoteldiscription h1{
           font-size: 2.3rem;
       }
       #hoteldiscription p{
           font-size: 1.2rem;
       }
       #hoteldiscription h2{
           font-size: 1.8rem;
       }
       #hoteldiscription h3{
           font-size: 1.6rem;
       }
       #hoteldiscription li{
           font-size: 1.2rem;
       }

    .formaitam {
        width: 90%;
        height: 10%;
        /* border: 1px solid rgb(0, 0, 0); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    }
    #detailboxformdiv2{
        width: 93%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* border: 1px solid rgb(73, 187, 21); */
    }
    #detailformbox{
        margin-top: 15%;
    }
}
@media screen and (max-width: 735px){
    #containerslider {
        width: 95%;
        height: 90%;
        overflow: hidden;
        border: 2px solid;
        position: relative;
       
    }
    #next{
        position: absolute;
        right: 0%;
        z-index: 999;
    }
    #previous{
        position: absolute;
        left: 0%;
        z-index: 999;
    }
    .formaitam input {
        width: 50%;
        height: 55%;


    }

    .formaitam {
        width: 90%;
        height: 10%;
        /* border: 1px solid rgb(0, 0, 0); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    }
    .formaitam{
     font-size: 1.5rem;

    }
    #bookbtn{
        font-size: 1rem;
    }
    #hoteldiscription h1{
        font-size: 2.4rem;
    }
    #hoteldiscription p{
        font-size: 1.3rem;
    }
    #hoteldiscription h2{
        font-size: 1.9rem;
    }
    #hoteldiscription h3{
        font-size: 1.7rem;
    }
    #hoteldiscription li{
        font-size: 1.3rem;
    }
    #detailboxformdiv2{
        width: 93%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* border: 1px solid rgb(73, 187, 21); */
    }
}

@media screen and (max-width: 580px){
    #detailformbox {
        display: flex;
        flex-direction: column;
      align-self: start;
    }
    #detailboxslider{
        width: 100%;
    }
    #detailboxform{
        width: 100%;
        height: 100%;
    }
    .formaitam {
        width: 90%;
        height: 20%;
    }
    #detailboxformdiv2{
        width: 93%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* border: 1px solid rgb(73, 187, 21); */
    }
    #bookbtn{
        width: 60px;
        height: 25px;
        color: green;
        font-weight: bold;
        border: 1px solid green;
        font-size: 0.7rem;
        overflow: hidden;
        margin-bottom: 8%;
    }
   
    .formaitmbtn{
        overflow: hidden;
    }
}
