*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}


/* content css */
#content{
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#searchdiv{
    width: 100%;
    height: 61vh;
    background: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    /* background-attachment: fixed; */
}
#searchbox{
    min-width: 22%;
    min-height: 35px;
    border-radius: 10px;
    border: none;
    font-size: medium;
    padding-left: 10px;
}
#slider{
    width: 90vw;
    height: 30vh; 
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
}
.box{
    width: 150px;
    height: 150px;
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;
    border-radius: 25px;
   
}
.box img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    /* box-shadow: 5px 5px 50px rgb(0, 0, 0); */
   
}
.city{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;

    overflow: hidden;
    opacity: 0;
}
.city:hover{
    opacity: 1;
}
#view-more{
    width: 105px;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 15%;
    /* border: 2px solid black; */
}
#viewbtn{
    width: 100%;
    height: 100%;
    background-color: grey;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    font-size: 1rem;
}
#viewbtn a{
    text-decoration: none;
    color: white;
}

/* index page responsive css */


@media screen and (max-width: 850px){
    #slider {
        width: 60vw;
        height: 50vh;
        display: grid;
        grid-template-columns: auto auto;
        -ms-grid-row-align: center;
        -ms-grid-column-align: center;
        column-gap: 20%;
        row-gap: 5%;
        margin-top: 5%;
        z-index: -2;
    } 

    #view-more{
        /* width: 20%;
        height: 30px;
        margin-top: 5%; */
        margin-bottom: 20%;
        /* border: 2px solid black; */
    }
    


}

@media screen and (max-width: 645px){
    #slider {
        width: 58vw;
        height: 50vh;
        display: grid;
        grid-template-columns: auto auto;
        -ms-grid-row-align: center;
        -ms-grid-column-align: center;
        column-gap: 13%;
        row-gap: 5%;
        margin-top: 5%;
    }

    .box {
        width: 130px;
        height: 130px;
        /* border: 2px solid black; */
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }
    


}

@media screen and (max-width: 500px){

    #slider {
        width: 90vw;
        height: auto;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
    
    }
    .box{
        width: 150px;
        height: 150px;
        margin-top: 7%;
        /* border: 2px solid black; */
        position: relative;
        overflow: hidden;
        border-radius: 25px;
       
    }
    #view-more{
        width: 20%;
        height: 30px;
        margin-top: 5%;
        margin-bottom: 20%;
        /* border: 2px solid black; */
    }
    
    }




