* {
  margin: 0px;
  padding: 0px;
}

/* content */
#contentlist {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10%;
  column-gap: 10%;
  margin-bottom: 10%;
  overflow: hidden;
}

#map {
  display: none;
}

/* buttons view more and map */
.listbtn {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

#listbtnview {
  min-width: 80px;
  height: 40px;
  border: none;
  font-size: medium;
  background-color: rgb(0, 169, 236);
  border-radius: 4px;
  cursor: pointer;
}

#listbtnmap {
  min-width: 80px;
  height: 40px;
  border: none;
  font-size: medium;
  cursor: pointer;
  margin-left: 5px;
}

/*hotels and rating stars  */

.star {
  font-size: 1.5rem;
}

.checked {
  color: orange;
}

.grid-item {
  height: 100%;
  /* border: 1px solid black; */
  background-color: rgb(206, 203, 203);
  margin: 2% 4% 8% 4%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
#atag {
  text-decoration: none;
  overflow: hidden;
  color: black;
}

.hotel {
  width: 60%;
  height: 100%;
}

.rating {
  width: 56%;
  height: 100%;
  padding: 3%;
  box-sizing: border-box;
}

.rating:hover {
  background-color: rosybrown;
}

/* list.html responsive css */

@media screen and (max-width: 1260px) {
  #contentlist {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1%;
    overflow: hidden;
  }

  .grid-item {
    height: 80%;
    background-color: rgb(206, 203, 203);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.7rem;
  }

  .grid-item p {
    font-size: 1.2rem;
  }

  .hotel {
    width: 50%;
    height: 100%;
  }

  .rating:hover {
    background-color: rosybrown;
  }

  #mapimg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .grid-item {
    font-size: 3.3rem;
  }

  .grid-item p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 860px) {
  .grid-item {
    font-size: 3rem;
  }

  .grid-item p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 734px) {
  .grid-item {
    font-size: 3.6rem;
  }

  .grid-item p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .grid-item {
    font-size: 3.2rem;
  }

  .grid-item p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .grid-item {
    height: 80%;
    background-color: rgb(206, 203, 203);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.7rem;
    /* border: 1px solid black; */
    margin: 0% 3%;
  }

  .hotel {
    width: 100%;
  }

  .rating {
    width: 100%;
    height: 50%;
    padding: 3%;
    box-sizing: border-box;
  }
  .grid-item {
    font-size: 3.2rem;
  }

  .grid-item p {
    font-size: 1.3rem;
  }
  #contentlist {
  }
}
