#loader{
    width: 100%;
    height: 100vh;
    /* display: none; */
    background: url("../assests/images/preloader.gif") no-repeat center center;
    background-position: fixed;
    background-size: 40%;
    z-index: 9999;
  }
  